@import "../../styles/variables.scss";

.navbar-main-div {
    display: flex;
    justify-content: space-between;
    padding: 30px 60px;
    position: fixed;
    width: 100%;
    background-color: none;
    z-index: 1;
    animation: from-top 1.5s;
    animation-iteration-count: 1;
    background-color: $main-background;

    .navbar-main-title {
        display: flex;
        gap: 10px;

        h1 {
            padding-top: 8px;
            font-size: 20px;
            color: black;
            font-family: $police;
        }

        span {
            #navbar-icon {
                height: 45px;
                width: 45px;
            }
        }
    }

    .navbar-items {
        display: flex;
        gap: 20px;
        padding-top: 15px;
        font-family: $text-police;

        .icons-div {
            display: flex;
            gap: 10px;
            width: 70px;

            #link-icons {
                width: 25px;
                height: 25px;
                fill: grey;
                cursor: pointer;

                &:hover {
                    fill: black;
                }
            }
        }

        .nav-links {
            display: flex;
            gap: 30px;
            padding-right: 20px;

            a {
                cursor: pointer;
                text-decoration: none;
                font-size: 16px;
                margin-top: 4px;
                color: $main-color;

                &:hover {
                    color: $second-color;
                }
            }
        }

        .lang-div {
            #lang-icon {
                margin-top: 2px;
                height: 20px;
                width: 20px;
                cursor: pointer;
            }

            &:hover .lang-dropdown {
                display: block;
            }

            .lang-dropdown {
                display: none;
                position: absolute;
                top: 75px;
                right: calc(12% + 45px);
                border-radius: 15px;
                height: auto;
                width: auto;
                padding: 8px;
                border: 1px solid rgb(200, 200, 200);
                background-color: white;
                -webkit-box-shadow: 0px 0px 17px -9px rgba(30,30,30,1);
                -moz-box-shadow: 0px 0px 17px -9px rgba(30,30,30,1);
                box-shadow: 0px 0px 17px -9px rgba(30,30,30,1);

                p {
                    padding: 10px;
                    cursor: pointer;

                    &:hover {
                        color: $second-color;
                    }
                }
            }
        }

        .vertical-line {
            height: 25px;
            width: 1px;
            background-color: rgb(190, 190, 190);
        }

        .theme-div {
            p {
                font-size: 16px;
                margin-top: 2px;
                cursor: pointer;
                color: $main-color;

                &:hover {
                    color: $second-color;
                }
            }
        }
    }
}

@keyframes from-top {
    from {
        transform: translateY(-100%)
    }

    to {
        transform: translateY(0);
    }
}